* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #000;
  margin: 0px;
}

.lorem-1 {
  font-size: 24px;
}

.lorem-heading {
  background-color: #d3d3d3;
  font-size: 1em;
  margin: 5px 3px;
  border: 2px solid #000;
  padding: 0.5em 0.5em;
}

.lorem-para-1 {
  background-color: #e6e6e6;
  font-size: 0.6em;
  margin: 5px 3px;
  border: 1px solid #000;
  padding: 0.5em 0.5em;
}

.lorem-2 {
  font-size: 18px;
}

.lorem-para-2 {
  background-color: #f8f7f8;
  font-size: 1em;
  margin: 5px 3px;
  border: 1px solid #000;
  padding: 0.5em 0.5em;
}