* {
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: ghostwhite;
}

.main {
  margin: 0 25%;
  background-color: #f9f9f9;
}

h1 {
  font-family: sans-serif;
  font-size: 2.5em;
  max-width: fit-content;
  border-bottom: 2px solid #444;
  margin: 20px auto;
}

p {
  line-height: 1.6em;
}

h2 {
  margin-bottom: 20px;
}

.section {
  padding: 1em 2em;
  color: #444;
  background-color: #f9f9f9;
}

#booth-image {
  display: block;
  margin: 0 auto;
  padding: 1.4em 0;
}